<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  Example #1
  {{range .}}
    {{.}}
  {{end}}

  Example #2
  {{if .}}
    Example #2 - {{.}}
  {{end}}

  Example #3
  {{range .}}
    {{if .Name}}
      Example #3 - {{.}}
    {{end}}
  {{end}}

  Example #4
  {{range .}}
    {{if and .Name .Admin}}
      Example #4 - {{.Name}}
    {{end}}
  {{end}}
</body>
</html>
