<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
  </head>
  <body>
    <!-- without variables -->
    {{range .}}
    <li>{{.}}</li>
    {{end}}

    <!-- with variables -->
    {{range $index, $element := .}}
    <li>{{$index}} - {{$element}}</li>
    {{end}}
  </body>
</html>
